@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* =====RESET===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", arial;
}
/* =====BODY=====*/
body {
  background-color: #181818;
  color: white;
}
/* ====LINKS==== */
a {
  text-decoration: none;
  color: inherit;
}
/* =====HEADER===== */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #181818;
}
.cabecalho {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: 56px;
  align-items: center;
  padding: 0px 24px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.logo a img {
  width: 150px;
  height: auto;
}
.logo > img {
  height: auto;
  width: 20px;
}
/* ======PESQUISAR===== */
.pesquisar {
  width: 100%;
  max-width: 600px;
  height: 40px;
  display: flex;
  border: 1px solid rgb(75, 75, 75);
  border-radius: 50px;
  overflow: hidden;
  background-color: #181818;
}
input {
  width: 100%;
  padding-left: 20px;
  background-color: #181818;
  color: white;
  border-radius: 50px;
  border: none;
  font-size: 16px;
  font-weight: 400;
}
.pesquisar img {
  width: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.pesquisar button {
  background-color: gray;
  border-radius: 50px;
  width: 50px;
  border: none;
}
.left {
  display: flex;
  align-items: center;
  gap: 20px;
}
.avatar {
  width: 34px;
  height: auto;
  border-radius: 100%;
}
/* ======MAIN====== */
main {
  display: flex;
  margin-top: 50px;
  padding: 20px;
  gap: 20px;
  width: 100%;
}
section {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px;
}

/* ====VIDEO PRINCIPAL===== */
iframe {
  width: 100%;
  border-radius: 12px;
  aspect-ratio: 16 / 9;
}
section h3 {
  font-size: 20px;
  font-weight: 700;
}
.descricao {
  background-color: #262626;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
/* =====CANAL===== */
.canal {
  border-radius: 100%;
  width: 44px;
  height: auto;
}

.canal-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.info {
  display: flex;
  flex-direction: column;
}
.info h5 {
  font-size: 16px;
  font-weight: 500;
}
.info h6 {
  font-size: 14px;
  font-weight: 500;
  color: #aaa;
}
.canal-dd {
  align-items: center;
  gap: 10px;
  display: flex;
  justify-content: space-between;
}
.canal-dd button {
  border-radius: 50px;
  color: black;
  border: none;
  padding: 10px 18px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  background-color: #f1f1f1;
}
.canal-dd button:hover {
  background-color: #ddd;
}
/* =====BOTOES===== */
.botao {
  display: flex;
  gap: 5px;
}

aside {
  flex-shrink: 0;
  max-width: 402px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.video-card {
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.video-card img {
  width: 168px;
  height: 94px;
  border-radius: 8px;
  object-fit: cover;
}
.video-card:hover {
  background-color: #262626;
  border-radius: 10px;
}
.video-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5px;
}
.video-info h4 {
  font-size: 14px;
  font-weight: 500;
}
.video-info p,
.video-info span {
  font-size: 12px;
  color: #aaa;
}

aside img:hover {
  cursor: pointer;
  opacity: 0.8;
}
#anuncio {
  width: 100%;
  max-width: 402px;
}
/* ====RESPONSIVIDADE==== */

@media (max-width: 900px) {
  main {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-top: 40px;
    flex-direction: column;
  }
  .pesquisar {
    width: 100%;
  }
  iframe {
    width: 100%;
    height: 100%;
  }
  header {
    height: auto;
  }
  .left a:nth-child(1),
  .left a:nth-child(2) {
    display: none;
  }

  aside img {
    width: 100%;
    max-width: 200px;
  }
  aside {
    max-width: 100%;
    width: 100%;
    flex-direction: column;
    height: auto;
  }
  #anuncio {
    margin-left: 0px;
    width: 100%;
    max-width: 402px;
  }
}
